.col-sm-10 p{
  padding: 10px;
  border-radius: 15px;
  opacity: 0.5;
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #7BAAD3, #39434B);

  font-size: 40px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  float: left;
  text-align: left;
}

p {
  font-size: 40px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  float: left;
  text-align: left;
  color: white;
}

.row{
  align-content: center;
}

.container0{

  box-shadow:2px 2px 8px #888888;
}

.col-md-8{
  border-color: #B0DEFA;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  background-color: #E3F4FF;
  padding-top: 15px;
  padding-bottom: 22px;
}

p.label{
color:#464E67;
  font-size: 15px;
  font-weight: lighter;

}

.labels{
  opacity: 0.8;
font-size: 3px;
margin-left:8px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.title{
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #888888;
  background-color: #eceef2;
  font-size: 25px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #141e3e;
}


h4{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #141e3e;
  text-align: left;
}


/*---------------------------------------Text Box-------------------------------------------*/

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border-style: none;
  margin-left: 8px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  border-bottom-style: solid;
  border-bottom-color:#eceef2;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  border: 1px solid rgba(81, 203, 238, 1);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  border-radius: 5px;
}

/*---------------------------------------Buttons-------------------------------------------*/
.submit{
position:relative;
background: #16222A;
background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
background: linear-gradient(59deg, #7BAAD3, #39434B);
color: white;
  border-radius: 4px;
  border-style: solid;
  border-color: #141e3e;
  text-align: left;
  font-size: 20px;

  width: 90px;
  height: 40px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  float: right;
  left: 10vh;
}

.changePass{
position: relative;
background: #16222A;
background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
background: linear-gradient(59deg, #7BAAD3, #39434B);

color: white;
  border-radius: 4px;
  border-style: solid;
  border-color: #141e3e;
  text-align: center;
  font-size: 20px;

  width: 180px;
  height: 40px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  float: right;
  left: 10vh;
}

/*---------------------------------------Icons-------------------------------------------*/
.fi-cwsuxl-check{
color: white;
position: relative;
left:21vh;
top: 0.8vh;
float: right;
}

.fi-xnsuxl-lock-solid{
position: relative;
  font-size: 18px;
  bottom: 0.6vh;
  left: 0.2vh;
}
.fi-cnsuxl-info-solid{
  position: relative;

padding-left: 5px;
bottom: 0.6vh;
font-size: 16px;
}
