.LeftBar{
    background-color: blue ;
    position: 5px, 10px;
}
.product {
    border-radius: 50%;
    width:100px; 
    height:100px; 
    padding:20px;
  }
.divOrders{
    background-color:blue;
}
