.container0{
background: #F4F2F2;
width: 800px;
border-radius: 10px;
}

.left{

}

.column{
  float: left;
  padding: 10px;
  height: 200px;
}
.left, .right {
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.right h3{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  color: #032443;
}

.try-on{
  width:500px;
}
